POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_pass
POSTGRES_DB=db_etl
DB_PORT=5432
DB_HOST=postgres
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://etl_user:etl_pass@postgres:5432/db_etl
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:ADMIN
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_HOME=/opt/airflow