POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_pass
POSTGRES_DB=db_etl
DB_PORT=5432
DB_HOST=localhost
DB_HOST_TRUE=postgres
AIRFLOW_HOME=/home/juanto/etl/Pipeline-ETL-ML/src/airflow # Install Airflow
CONTRAIN_URL="https://raw.githubusercontent.com/apache/airflow/constraints-3.1.7/constraints-3.10.txt" #Constraints URL for Airflow installation
